@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    input{
        @apply outline-none rounded-lg
    }
}

@layer components{
    .btn{
        @apply bg-white border text-black border-white  rounded-xl w-52 
        hover:bg-transparent hover:border-zinc-900 hover:text-white;
    }
}

select{
    -webkit-appearence:none;
    appearance: none;
}